[submodule "nvim/lua/language_plugins"]
	path = nvim/lua/language_plugins
	url = git@github.com:serlovesferrets/nvim-language-plugins.git
    ignore = untracked
[submodule "nvim/lua/snippets"]
	path = nvim/lua/snippets
	url = git@github.com:serlovesferrets/nvim-snippets.git
    ignore = untracked
[submodule "nvim/treesitter-nvim-queries"]
	path = nvim/queries
	url = https://github.com/serlovesferrets/treesitter-nvim-queries.git
